<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>loginControllers</servlet-name>
        <servlet-class>Controllers.loginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResControllers</servlet-name>
        <servlet-class>Controllers.ResControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerControllers</servlet-name>
        <servlet-class>Controllers.registerControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControllers</servlet-name>
        <servlet-class>Controllers.homeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutControllers</servlet-name>
        <servlet-class>Controllers.aboutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassControllers</servlet-name>
        <servlet-class>Controllers.forgotPassControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileControllers</servlet-name>
        <servlet-class>Controllers.profileControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReservationsServlet</servlet-name>
        <servlet-class>Controllers.ListReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReservationServlet</servlet-name>
        <servlet-class>Controllers.SearchReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <servlet-class>Controllers.DeleteReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResController</servlet-name>
        <servlet-class>Controllers.UpdateResController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chefControllers</servlet-name>
        <servlet-class>chef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dishControllers</servlet-name>
        <servlet-class>Controllers.dishControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dishmanager</servlet-name>
        <servlet-class>ControllerDashbroad.Dishmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ControllerDashbroad.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>ControllerDashbroad.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDishController</servlet-name>
        <servlet-class>ControllerDashbroad.AddDishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDishController</servlet-name>
        <servlet-class>ControllerDashbroad.DeleteDishController</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>blogController</servlet-name>
        <servlet-class>Controllers.blogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blogmanager</servlet-name>
        <servlet-class>ControllerDashbroad.Blogmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogController</servlet-name>
        <servlet-class>ControllerDashbroad.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>ControllerDashbroad.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <servlet-class>ControllerDashbroad.UpdateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>ControllerDashbroad.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDishController</servlet-name>
        <servlet-class>ControllerDashbroad.UpdateDishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>ControllerDashbroad.DeleteUserController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>SearchResController</servlet-name>
        <servlet-class>Controllers.SearchResController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManagerProcessing</servlet-name>
        <servlet-class>ControllerDashbroad.ManagerProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationManager</servlet-name>
        <servlet-class>ControllerDashbroad.ReservationManager</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>loginControllers</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chefControllers</servlet-name>
        <url-pattern>/chef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dishControllers</servlet-name>
        <url-pattern>/dishs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerControllers</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControllers</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutControllers</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResControllers</servlet-name>
        <url-pattern>/ResControllers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassControllers</servlet-name>
        <url-pattern>/forgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileControllers</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dishmanager</servlet-name>
        <url-pattern>/dishmana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/usercontroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/DashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDishController</servlet-name>
        <url-pattern>/AddDish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDishController</servlet-name>
        <url-pattern>/DeleteDish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>blogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blogmanager</servlet-name>
        <url-pattern>/blogmana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogController</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <url-pattern>/UpdateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDishController</servlet-name>
        <url-pattern>/UpdateDish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResController</servlet-name>
        <url-pattern>/SearchResController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReservationServlet</servlet-name>
        <url-pattern>/SearchReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <url-pattern>/DeleteReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReservationsServlet</servlet-name>
        <url-pattern>/ListReservationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResController</servlet-name>
        <url-pattern>/UpdateResController</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ManagerProcessing</servlet-name>
        <url-pattern>/ManagerProcessing</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ReservationManager</servlet-name>
        <url-pattern>/ReservationManager</url-pattern>
    </servlet-mapping>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
